.navbar {
  width: 100%;
  height: 60px;
  background: #fff;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
  z-index: 1;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar ul li {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 6px 12px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

.navbar ul li:first-child {
  background: #0066AF;
}

.navbar ul li:last-child {
  background: #037232;
}

.toggle {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 4px;
  width: 75px;
  background: #292929;
  cursor: pointer;
}

.circle {
  position: absolute;
  display: block;
  height: calc(100% - 8px);
  left: 8px;
  aspect-ratio: 1 / 1;
  background: #b6b6b6;
  border-radius: 50%;
  transition: all .3s;
}

.toggle .moon {
  color: #000a13;
}

.toggle .sun {
  color: #FAFF13;
}

/* Dark Mode Styles */
.navbar.dark {
  background: #000a13;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);;
}

.navbar.dark h1 {
  color: #fff;
}

.toggle.dark {
  background: #dfdfdf;
}

.circle.dark {
  background: #000a13;
  left: calc(100% - 28px);
}

/* Responsive Styles */
@media screen and (max-width: 800px) {
  .navbar {
    padding: 10px 20px;
  }
  
  h1 {
    font-size: 20px;
  }

  .navbar ul {
    gap: 10px;
  }

  .text {
    display: none;
  }

  .toggle {
    width: 60px;
    padding: 0;
  }
}