* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

:root {
  --dark-blue: #47567e;
  --light-blue: #DBE3F0;
  --white: #ffffff;
}

.p-10 {
  padding: 10px;
}

.pb-0 {
  padding: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.text-danger {
  color: #ff002b;
}

.text-info {
  color: #54B4D3;
}

.w-100 {
  width: 100%;
}

.flex {
  display: flex;
}

.medulla .wrapper {
  padding: 10px;
}

.medulla form {
  padding: 10px;
}

.medulla button {
  all: unset;
  margin: 0 5px;
  border-radius: 2px;
  padding: 8px 40px;
  background: var(--dark-blue);
  color: var(--white);
  cursor: pointer;
}

.medulla input, .medulla  select {
  height: 30px;
}

.medulla  input[type=checkbox] {
  transform: translateY(10px);
}

.medulla .popup {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  border-radius: 5px;
  padding: 18px;
  background: #f6f6f6;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
  z-index: 10;
  transition: all .4s ease-in-out;
}

.medulla .popup.success {
  color: var(--white);
  background: #14A44D;
}

.medulla .popup.info {
  color: var(--white);
  background: #54B4D3;
}

.medulla .popup.warning {
  color: var(--white);
  background: #E4A11B;
}

.medulla .popup.danger {
  color: var(--white);
  background: #DC4C64;
}

.medulla .popup.active {
  opacity: 1;
  pointer-events: all;
}

.medulla .popup p {
  margin-bottom: 20px;
}

.medulla .popup div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.medulla .popup > span {
  cursor: pointer;
  padding: 4px 12px;
  border-radius: 2px;
  border: 1px solid var(--white);
}

.medulla .popup button {
  margin: 0;
}

.medulla .blur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0;
  z-index: -1;
  transition: all .3s;
}

.medulla .blur.active {
  opacity: .5;
  z-index: 1;
}

.medulla .title {
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 10px;
  background: var(--dark-blue);
  color: var(--white);
}

.medulla .upper-buttons {
  margin-bottom: 10px;
}

.medulla .recipe-info {
  margin-bottom: 20px;
}

.medulla .info-table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.medulla .info-cell {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 8px;
}

.medulla .info-cell:nth-child(odd) {
  background: var(--light-blue);
}

.medulla .recipe-info .info-secondary select {
  width: 150px;
}

.medulla .recipe-info .major {
  width: 300px;
}

.medulla .drug-info {
  margin-bottom: 20px;
}

.medulla .drug-info input[type=number] {
  height: 25px;
  width: 25px;
}

.medulla .drug-info select {
  margin: 0 10px;
}

.medulla .drug-info .info-upper {
  margin-bottom: 10px;
}

.medulla .drug-info .info-lower span {
  padding: 10px;
  margin-bottom: 5px;
  background: var(--light-blue);
}

.medulla .drug-info .buttons {
  display: flex;
  margin-bottom: 30px;
}

.medulla .drug-list {
  margin-bottom: 40px;
}

.medulla .drug-list p {
  text-align: center;
}

.medulla .drug-list table {
  width: 100%;
}

.medulla .drug-list th, .drug-list td {
  padding: 8px;
} 

.medulla .drug-list td {
  text-align: center;
}

.medulla .drug-list th {
  background: var(--dark-blue);
  color: var(--white);
}

.medulla .prices {
  margin-bottom: 5px;
}

.medulla .prices-table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.medulla .price-cell {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 8px;
}

.medulla .price-cell:nth-child(2) {
  background: var(--light-blue);
}

.medulla .prices .value {
  color: #6E4D97;
}

.medulla .lower-buttons-section {
  display: flex;
  justify-content: center;
}

.medulla .create-prescription .row {
  display: grid;
  grid-template-columns: 200px 400px 1fr;
  gap: 20px;
  font-weight: bold;
  padding: 10px;
}

.medulla .create-prescription .row:nth-child(even) {
  background: #c1c7d1;
}

.medulla .create-prescription .row .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.medulla .create-prescription .row input {
  all: unset;
  box-sizing: border-box;
  background: #fff;
  width: 100%;
  height: 100%;
  padding: 5px;
  border: 1px solid #2e2e2e;
  border-radius: 3px;
}

.medulla .create-prescription .row .operation {
  display: flex;
  align-items: center;
  height: 100%;
}