.card {
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
  background: #A3CC41;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  transition: all .3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
}

.card.green {
  background: #A3CC41;
}

.card.blue {
  background: #0066AF;
}

.card.orange {
  background: #E5812A;
}

.card.yellow {
  background: #FBC112;
}

.card .content {
  width: 75%;
}

.card .number {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card .text {
  font-size: 20px;
  font-weight: 500;
}

.card svg {
  width: 25%;
  font-size: 96px;
}

/* Responsive Styles */
@media screen and (max-width: 800px) {
  .card {
    padding: 10px;
    flex-direction: column-reverse;
  }

  .card .number {
    font-size: 28px;
    margin-bottom: 7px;
    text-align: center;
  }

  .card .text {
    font-size: 20px;
    text-align: center;
  }
}