.container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.background {
  width: 100%;
  height: 100vh;
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, .3);
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  z-index: 1;
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
  .content {
    width: 40%;
  }
}

@media screen and (max-width: 800px) {
  .content {
    width: 60%;
  }
}

@media screen and (max-width: 500px) {
  .background, .overlay {
    display: none;
  }

  .content {
    width: 100%;
  }
}