.row {
  display: grid;
  height: 100vh;
}

.row > div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.row img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.row a {
  display: block;
  padding: 16px 32px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 6px;
  color: #fff;
  background: #0066AF;
}