.container h3 {
  transition: all .3s;
}

.btnArea {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.createBtn {
  all: unset;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: #00B528;
  color: #fff;
  cursor: pointer;
}

.createBtn svg {
  font-size: 24px;
}

.searchArea {
  height: 40px;
  display: flex;
  width: min-content;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #00F0FF;
  background: #fff;
}

.searchArea input {
  border: none;
  outline: none;
  font-size: 18px;
  padding: 5px 10px;
  width: 400px;
  height: 100%;
}

.searchBtn {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: #00F0FF;
  color: #fff;
  cursor: pointer;
}

.searchBtn svg {
  font-size: 24px;
}

.tableContainer {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.table {
  border-spacing: 0;
  width: 100%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .05);
}

.table th {
  padding: 20px 48px;
  background: #fff;
  color: #000;
  font-weight: bold;
  border-bottom: 1px solid #000;
  transition: all .3s;
}

.table tbody tr:nth-child(odd) {
  background: #ececec;
  transition: all .3s;
}

.table tbody tr:nth-child(even) {
  background: #ffffff;
  transition: all .3s;
}

.table td {
  padding: 16px 48px;
}

.operations {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.operations button, .operations a {
  all: unset;
  box-sizing: border-box;
  padding: 8px 16px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.operations .viewBtn {
  background: #00a8b4;
  border: 1px solid #005b9c;
}

.operations .editBtn {
  background: #FBC112;
  border: 1px solid #b18500;
}

.operations .deleteBtn {
  background: #E6353E;
  border: 1px solid #690005;
}


/* Dark Mode Styles */
.table.dark th {
  color: #fff;
  background: #161616;
  border-bottom: 1px solid #ffffff;
}

.table.dark tbody {
  color: #fff;
}

.table.dark tbody tr:nth-child(odd) {
  background: #2c2c2c;
}

.table.dark tbody tr:nth-child(even) {
  background: #252525;
}

/* Responsive Styles */
@media screen and (max-width: 800px) {

  .btnArea {
    gap: 20px;
    margin-bottom: 20px;
  }

  .createBtn {
    width: 30px;
    height: 30px;
  }

  .createBtn svg {
    font-size: 20px;
  }

  .searchArea {
    height: 30px;
  }

  .searchArea input {
    border: none;
    outline: none;
    font-size: 14px;
    padding: 5px;
    width: 200px;
    height: 100%;
  }

  .searchBtn {
    width: 30px;
    height: 30px;
  }

  .searchBtn svg {
    font-size: 20px;
  }

  .table th {
    padding: 8px 16px;
  }

  .table td {
    padding: 8px 16px;
  }

  .operations {
    gap: 5px;
  }

  .operations button, .operations a {
    padding: 4px 8px;
  }
}