@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.error {
  color: #f30000;
  text-align: left;
  margin-bottom: 5px;
}

.section-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
  transition: all .3s;
}

.line {
  display: block;
  width: 200px;
  height: 3px;
  margin-bottom: 30px;
  border-radius: 3px;
  background: #FBC112;
}

form {
  display: block;
  width: 100%;
  overflow-x: auto;
}

label {
  display: block;
  margin-bottom: 10px;
  text-transform: capitalize;
  transition: all .3s;
}

.form-group {
  margin-bottom: 20px;
}

.btn-primary {
  all: unset;
  box-sizing: border-box;
  text-align: center;
  background: #0C79FA;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: all .3s;
}

.btn-primary:hover {
  transform: translateY(-3px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

/* Dark Mode Styles */
.wrapper.dark *:is(h3, label) {
  color: #fff;
}

.wrapper.dark .btn-primary:hover {
  box-shadow: 0 2px 4px rgba(255, 255, 255, .1);
}

@media screen and (max-width: 800px) {
  .section-title {
    font-size: 24px;
  }

  .line {
    width: 50%;
  }

  input, .btn-primary {
    width: 100%;
  }
}