.infoSection {
  margin-bottom: 50px;
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-bottom: 30px;
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 800px) {
  .content {
    gap: 10px;
    grid-template-columns: 1fr;
    margin-bottom: 20px;
  }
}